iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

.iconfont,
.layui-icon {
    margin-right: 10px;
}

.layui-side .layui-nav-child dd {
    padding-left: 14px;
}

.avater {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info {
    text-align: center;
    height: 60px;
    line-height: 60px !important;
}

.text-avater {
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #009688;
}

.nickname {
    font-size: 12px;
    margin-left: 14px;
}

.peron-center {
    margin-left: 10px;
}


/* 底部样式 */

.layui-footer {
    text-align: center;
    font-size: 12px;
}